/.project
/bindlessTexture
/Mandelbrot
/simpleGL
/simpleGLES_screen
/simpleTexture3D
/volumeRender
/marchingCubes
/simpleGLES
/simpleGL_fbo
/volumeFiltering
*/bin/
*.xml
*/doc/
*.bin
*.png
*.o
*/backup/
*/simpleGL

*/data/fv*.txt
*/data/cuda*.txt
*/data/img*.txt
